.navbar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
}

.cust_menu {
  right: 0;
  left: auto !important;
}

.cust_half_height {
  height: calc((100vh - 40px)/2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cust_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: calc((((100vh - 40px) / 2)/10) * 3);
  background-color: green;
}


.fakeLink {
  color: blue;
}
.fakeLink:hover {
  cursor:pointer;
  text-decoration: underline;
  align-items: center;
}

.time-field > *{
  display: inline-block;
}

.time-input {
  width: 25% !important;
}

.custom-tooltip {
  border: 1px solid black;
  border-radius: 1em;
  padding: 0.5em;
  background: rgba(240,240,240,0.9);
}

.custom-tooltip > .label {
  font-weight: bold;
}

.graph-bottom {
  height: calc(100% - 450px - 40px);
}

.graph-bottom > div {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.loader {
  height: 500px;
}

.status {
  position: absolute;
  width: 100vw;
}

.status > div {
  height: calc(100vh - 40px);
  background-color: rgba(240, 240, 240, 1) !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 500;
}

.status-field {
  margin: 20px;
  text-align: center;
}

.status-spinner {
  background-color: rgba(240,240,240,1) !important;
  padding: 0 !important;
}

